:root {
    --nav-color: rgb(67, 47, 31, 0.8);
    --nav-color-scroll: rgb(67, 47, 31, 0.5);
    --button-color-primary: #aa25b4;
    --button-color-primary-hover: #cf2edb;
    --blue : #009dff;
    --font-family: 'Poppins', sans-serif;
    --box-shadow: 0 .6rem .9rem 0 rgb(0 0 0 / 15%);
    --box-shadow-nav: rgb(0 0 0 / 22%) 0 .2rem 1.8rem 0;
    --text-color: black;
    --link-color: #66c4ff;
    --link-color-hover: #009dff;
    --border: .1rem solid var(--gray-2);
    --border-radius: .4rem;
}