.cardFilters {
    position: sticky;
    top: 12rem;
    box-shadow: var(--box-shadow-nav);
    backdrop-filter: blur(0.5rem);
    z-index: 1;
    animation: adjust-card-filter linear both;
    animation-timeline: scroll();
    animation-range: 0 20rem;

    > section img {
        width: 6.25rem;
    }

    > i {
        font-size: 2.2rem;
    }

    ul {
        justify-content: space-evenly;
        gap: 1.5rem;
        padding: 2rem;

        li {
            position: relative;

            i {
                font-size: 1.7rem;
                position: absolute;
                right: 0;
                top: 0;
                transform: translate(70%, -70%);
                padding: 0;
            }

            select {
                background-color: black;
                color: white;
                border: .1rem solid black;
                border-radius: 0.4rem;
                outline: none;

                option:invalid {
                    font-style: italic;
                }
            }
        }
    }

    @keyframes adjust-card-filter {
        to {
            top: 7rem;
        }
    }
}