.cardFilters {
    position: sticky;
    top: 7rem;
    box-shadow: var(--box-shadow-nav);
    backdrop-filter: blur(0.5rem);
    z-index: 1;
    gap: 1rem;
    padding: 1rem;
    border-radius: 0.4rem;

    > section img {
        width: 6.25rem;
    }

    > i {
        font-size: 2.2rem;
        padding: 0.5rem 0 0.5rem 0.5rem;
    }

    ul {
        justify-content: space-evenly;
        gap: 1.5rem;
        padding: 0.5rem;

        li {
            position: relative;

            i {
                font-size: 1.7rem;
                position: absolute;
                right: 0;
                top: 0;
                transform: translate(70%, -70%);
                padding: 0;
            }

            select {
                background-color: black;
                color: white;
                border: 0.1rem solid black;
                border-radius: 0.4rem;
                outline: none;

                option:invalid {
                    font-style: italic;
                }
            }

            input {
                background-color: black;
                outline: none;
                border: none;
                border-radius: 0.4rem;
                color: white;
                padding: 0.5rem;
                height: 2.25rem;
    
                &::placeholder {
                    color: white;
                    font-style: italic;
                }
            }
        }
    }

    @media (max-width: 576px) {
        flex-direction: column !important;
    }
}
