.cardsList {
    padding-bottom: 10rem;

    ul {
        justify-content: space-evenly;
        padding-top: 5rem;

        > li {
            cursor: pointer;
            perspective: 100rem;
            transition:
                transform 0.5s,
                opacity 1.5s,
                // for React CSS Transition
                scale 0.5s;
            transform-style: preserve-3d;
            width: 25rem;
            height: 34.5rem;
            scale: 1;

            i {
                position: absolute;
                top: 0;
                right: 0;
                z-index: 1;
                opacity: 1;
                transition: opacity 0.5s;
            }

            &:hover {
                @media (hover: hover) {
                    scale: 1.3;
                }
            }

            &:global {
                &.flip {
                    transform: rotateY(180deg);

                    i {
                        opacity: 0;
                    }
                }
            }

            img,
            div {
                position: absolute;
                backface-visibility: hidden;
            }

            div {
                height: 100%;
                width: 100%;
                bottom: 0;
                left: 50%;
                background-size: 87%;
                background-repeat: no-repeat;
                background-position: 17% 88%;
                transform: rotateY(180deg) translateX(50%);
            }
        }
    }
}
